* {
  box-sizing: border-box;
  font-family: var(--type-first-roboto);
}

body {
  padding-top: 4rem;
  margin: 0px;
  color: #fff;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  height: auto;
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 60rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.mainContainer {
  margin-top: 2rem;
}

.title {
  line-height: 1;
  font-size: 3rem;
  margin: 1rem 0;
  position: relative;
  z-index: 1;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

.App {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + 10rem);
}

.AppBody {
  flex: 1;
  background: linear-gradient(135deg, #0a1a2e, #1b2a3e, #243a4e);
}
